@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-main-1: #232323;
  --color-main-2: #ffffff;

  --color-accent-1: #7b0323;
  --color-accent-2: #eeedc4;

  --font-logo: "Julius Sans One", "sans-serif";
  --font-main: "Roboto", "sans-serif";
}

html{
    @apply bg-main-1;
}
.container{
}

.Logo{
    @apply text-5xl font-logo;
}